# downloaded *.deb files
*.deb
server/*.jar

# vi
*.swp

# IntelliJ IDEA
.idea
*.iml

# Maven
target

# test credentials
client.json
user.json
test-mint-write

# common files, hardlinked with prepare-deps.sh
/server/extract-files.sh
/agent/extract-files.sh

#scm-source
scm-source.json
